/* --- Global Styles --- */
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
}

/* --- Custom Font Styles --- */
.myFont {
  font-family: "Chakra Petch";
  text-decoration: none;
}

.fontsTech {
  font-family: sans-serif;
  text-decoration: none;
}

.fs-custom {
  font-size: 3rem;
}

/* --- Background Video Styles --- */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

video {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
}

/* --- Navbar Styles --- */
.blur-navbar {
  backdrop-filter: blur(20px);
}

.introduction {
  width: 100%;
  height: 100vh;
}

/* --- Section: About Me --- */
.about-me {
  background-color: #0a132093;
  backdrop-filter: blur(20px);
  padding: 1.5rem;
}

.text-main {
  color: #38b6ff;
}

.border-custom {
  border: 3px solid #38b6ff;
  box-shadow: 0rem 0rem 1rem #04befe;
}

/* --- Section: Portfolio --- */
.portfolio {
  padding-block: 10rem;
}

/* --- Section: Certificate --- */
.certificate {
  padding-block: 6rem;
  background-color: #0a132093;
  backdrop-filter: blur(20px);
}

/* --- Section: Contact Me --- */
.contact-me {
  background-color: #0a132093;
  backdrop-filter: blur(20px);
  padding: 1.5rem;
}

/* --- Social Media Styles --- */
.socialMedia li {
  list-style-type: none;
}

.hvr-link:hover {
  color: #38b6ff !important;
}

/* --- Custom Colors --- */
.bg-custome {
  background-color: #0f1d31 !important;
}

/* --- Card Styles --- */
.card-custome {
  background-color: #000c1d6e;
  backdrop-filter: blur(20px);
  border: 2px solid;
  border-radius: 2rem;
}

/* --- Logo Text --- */
.logo-text {
  text-decoration: none;
}

.logo-text p {
  margin-left: -1rem;
}

/* --- Button Custom Styles --- */
.btn-custom {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 45px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.btn-custom:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.btn-custom:focus {
  outline: none;
}

.btn-custom.btn-cs {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

/* --- Swiper Container Styles --- */
.swiper-container1 {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-container1 .swiper-slide {
  height: 58vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
  margin: auto;
}

/* --- Swiper Custom Buttons --- */
.swiper-container2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.swiper-button-next {
  color: #fcfeff;
  background-color: rgba(255, 255, 255, 0.37);
  padding: 2rem;
  border-radius: 100%;
}

.swiper-button-prev {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.37);
  padding: 2rem;
  border-radius: 100%;
}
